:root {
  --bg-500: hsl(210, 10%, 19%);
  --bg-accent-200: hsl(210, 11%, 70%);
  --bg-accent-300: hsl(210, 11%, 40%);
  --bg-accent-350: hsl(210, 11%, 30%);
  --bg-accent-400: hsl(210, 11%, 23%);
  --bg-accent-450: hsl(210, 11%, 18%);
  --bg-accent-500: hsl(210, 11%, 15%);

  --green-500: hsl(130.73deg 52.34% 46.08%);
  --blue-500: hsl(208.39deg 76.23% 47.84%);
  --blue-600: hsl(208.39deg 76.23% 45%);

  --ribbon-height: 40px;
  --nav-width: 55px;
  --nav-pane-width: 250px;

  --br-sm: 4px;
  --br-m: 8px;
}

html,
body,
#__next {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  height: 100%;
  background-color: var(--bg-500);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  /* overflow: hidden; */
}
